/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    body{
        background-color: rgba(237, 218, 5, 0.81);
        background-image: url(img/logo_transparent_background.png);
        background-repeat: no-repeat;
        background-size:contain;
        background-attachment: fixed;
        position: relative;
        top: 100%;
    }

        #logo{
            width: 100%;
            height: auto;
        }

        #catering{
          display: none;
        }
        .BLFM h2{
          display: none;
        }

        .Responsive{
            text-align: center;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            top: 150px;
        }
        p{
            font-size: 2em;
        }

        .Gallery {
            padding: 5px;
            font-size: 2.5em;
            color: rgb(0, 0, 0);
        }

        .Gallery a{
                color: red;
                text-decoration: none;
        }
        .Gallery a:hover{
            cursor: pointer;
            color: rgba(0, 110, 255, 0.716);
            text-decoration:underline;
        }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {

  body{
      background-color: gold;
      background-image: url("img3/gold-cutlery-set-black-background.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      position: relative;
      top: 15vw;
  }

  #logo{
      width: 100%;
      height: auto;
  }
  .BLFM h2{
    color: red;
    font-size: 4em;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    position: relative;
    z-index: 1;
    top: 310px;
    color: #CC9933;
    text-shadow: 2px 3px 4px black;
  }

  #catering{
    position: relative;
    bottom: 150px;
    left: 20%;
  }


  .Responsive{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    font-family: 'Philosopher', sans-serif;
      top: -200px;
  }

  .Heading h1{
    color: white;
    font-size: 3.5em;
    text-shadow: 3px 3px 5px #CC9933;

  }
  p{
      font-size: 2.3em;
      color: #CC9933;
      text-shadow: 2px 2px 1px black;
  }

  .Gallery {
      padding: 5px;
      font-size: 3em;
      color: white;
  }

  .Gallery a{
          color: #CC9933;
          text-decoration: none;
  }
  .Gallery a:hover{
      cursor: pointer;
      color: rgba(0, 110, 255, 0.716);
      text-decoration:underline;
  }

}



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
  body{
  background-color: gold;
  background-image: url("img3/gold-cutlery-set-black-background.jpg");
  background-position: center;
  background-size: cover;
  }

  .BLFM h2{
    color: red;
    font-size: 4em;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    position: relative;
    top: 400px;
    z-index: 1;
    color: #CC9933;
    text-shadow: 2px 3px 4px black;

  }

  #white{
    color: white;
    text-shadow: 2px 3px 4px black;
  }
  #red{
    color: #CC9933;
  }

  #catering{
  position: relative;
  top: 10px;
  left: 20%;
  }

  .Responsive{
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      font-family: 'Philosopher', sans-serif;
  }
  .Heading h1{
    color: white;
    font-size: 3.5em;
    text-shadow: 3px 3px 5px #;

  }

  p{
      font-size: 3em;
  }

  .Gallery {
      padding: 5px;
      font-size: 3em;
      color: white;
  }

  .Gallery a{
          color: #CC9933;
          text-decoration: none;
  }
  .Gallery a:hover{
      cursor: pointer;
      color: rgba(0, 110, 255, 0.716);
      text-decoration:underline;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
  background-color: gold;
  background-image: url("img3/gold-cutlery-set-black-background.jpg");
  background-position: center;
  background-size: cover;
  }

  .BLFM h2{
    color: red;
    font-size: 4em;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    position: relative;
    top: 400px;
    z-index: 1;
    color: #CC9933;
    text-shadow: 2px 3px 4px black;

  }

  #white{
    color: white;
    text-shadow: 2px 3px 4px black;
  }
  #red{
    color: #CC9933;
  }

  #catering{
  position: relative;
  top: 10px;
  left: 22%;
  }

  .Responsive{
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      font-family: 'Philosopher', sans-serif;
  }
  .Heading h1{
    color: white;
    font-size: 3.5em;
    text-shadow: 3px 3px 5px #;

  }

  p{
      font-size: 3em;
  }

  .Gallery {
      padding: 5px;
      font-size: 3em;
      color: white;
  }

  .Gallery a{
          color: #CC9933;
          text-decoration: none;
  }
  .Gallery a:hover{
      cursor: pointer;
      color: rgba(0, 110, 255, 0.716);
      text-decoration:underline;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
  background-color: gold;
  background-image: url("img3/gold-cutlery-set-black-background.jpg");
  background-position: center;
  background-size: cover;
  }

  .BLFM h2{
    color: red;
    font-size: 4em;
    text-align: center;
    font-family: 'Lobster Two', cursive;
    position: relative;
    top: 320px;
    z-index: 1;
    color: #CC9933;
    text-shadow: 2px 3px 4px black;

  }

  #white{
    color: white;
    text-shadow: 2px 3px 4px black;
  }
  #red{
    color: #CC9933;
  }

  #catering{
  position: relative;
  top: -80px;
  left: 30%;
  }

  .Responsive{
      text-align: center;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      position: relative;
      font-family: 'Philosopher', sans-serif;
      top: -200px;
  }
  .Heading h1{
    color: white;
    font-size: 3.5em;
    text-shadow: 3px 3px 5px #;

  }

  p{
      font-size: 3em;
  }

  .Gallery {
      padding: 5px;
      font-size: 3em;
      color: white;
  }

  .Gallery a{
          color: #CC9933;
          text-decoration: none;
  }
  .Gallery a:hover{
      cursor: pointer;
      color: rgba(0, 110, 255, 0.716);
      text-decoration:underline;
  }

}
